body{
    margin: 0; 
    padding: 0; 
    background-color: whitesmoke;
}
.navLogo{
    height: 80px;
    width: 240px;
}
.navbar{
    width: 100vw;
}
.row {
    background-color: whitesmoke;
    height: 100vh;
    width: 100wh;
}

.footer{
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    height: 50px;
}